@import '../styles/variables';
@import '../styles/animations';
@import '../styles/mixins';
@import '../styles/common';

body { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  #canvas {
    border: 1px solid black;
  }

  .css-anim-wrap {
    width: 100vh;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 4px 4px #DEDEDE;

    & > div {
      width: $main-size;
      height: $main-size;
      border: solid 1px black;
      background: black;
      margin: 15px;
      display: inline-block;

      &:hover {
        animation-play-state: paused;
      }
    }

    .rounding-square {
      animation: rounding 4s ease-in-out infinite reverse;
    }

    .skewX-square {
      animation: skewX 2s ease-in infinite alternate;
    }

    .from-top-square {
      position: relative;
      animation: fromTop 2s cubic-bezier(0.18, 0.36, 0, 1.35) infinite alternate;
    }

    .spin-circles {
      border-radius: 50%;
      width: 12px;
      height: 12px;
      border: none;
      transform-origin: 50% 50%;
      animation: rounding 4s ease-in-out infinite, sizeTransform 4s ease infinite alternate;

      &::after {
        display: block;
        content: '';
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: black;
        margin-left: 18px;
        margin-top: -11px;
        animation: rounding 6s ease-in-out infinite, sizeTransform 4s ease infinite alternate;
      }

      &::before {
        display: block;
        content: '';
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background: black;
        margin-left: 34px;
        margin-top: 1px;
        animation: rounding 4s ease-in-out infinite, sizeTransform 4s ease infinite alternate;
      }
    }

    #wrapper {
      .first {
        animation: from-top-right 4s ease-in infinite;
      }
      .second {
        animation: from-top-left 4s ease-in infinite;
      }
      .third {
        animation: from-bot-left 4s ease-in infinite;
      }
      .fouth {
        animation: from-bot-right 4s ease-in infinite;
      }
    }

    #wrapper-delay {
      .first {
        animation: from-top-right 4s ease-out infinite;
      }
      .second {
        animation: from-top-right 4s ease-out 1s infinite;
      }
      .third {
        animation: from-top-right 4s ease-out 2s infinite;
      }
      .fouth {
        animation: from-top-right 4s ease-out 3s infinite;
      }
    }

    #snowman {
      div:first-child {
        top: 0;
        left: 40px;
        animation: fromTop 1s ease, show 1s ease;
      }

      div:nth-child(2) {
        top: 20px;
        left: 35px;
        animation: fromTop 1s ease 1s, show 2s ease;
      }

      div:last-child {
        top: 50px;
        left: 30px;
        animation: fromTop 1s ease 2s, show 3s ease;
      }

      .small {
        display: flex;
        justify-content: center;
        align-items: center;

        & > div {
          position: static;
          height: 3px;

          &:last-child {
            animation: wink 0.5s ease-in 3s alternate;
          }
        }
      }

      .medium {
        &::before {
          content: '';
          position: relative;
          top: 50%;
          left: -70%;
          transform-origin: 100% 50%;
          transform: rotate(45deg);
          animation: hello 1s ease-in-out infinite 3.5s alternate;

          @include line();
        }
        &::after {
          content: '';
          position: relative;
          top: 40%;
          left: 100%;
          transform-origin: 0% 50%;
          transform: rotate(-45deg);
          animation: hello 1s ease-in-out infinite 5s alternate-reverse;

          @include line();
        }
      }
    }
  }
}