#wrapper, #wrapper-delay, .css-anim-wrap > .wrap {
  position: relative;
  width: $king-size;
  height: $king-size;
  background: transparent;
  border: none;
}

.square {
  position: absolute;
  display: inline-block;
  width: $small-size;
  height: $small-size;
  border: 1px solid black;
  margin: 5px;
  background: black;
}

.circle {
  position: absolute;
  display: inline-block;
  margin: 5px;
  width: $small-size;
  height: $small-size;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
}

.smaller {
  width: $smaller-size;
  height: $smaller-size;
}

.small {
  width: $small-size;
  height: $small-size;
}

.medium {
  width: $medium-size;
  height: $medium-size;
}

.big {
  width: $big-size;
  height: $big-size;
}

.bg-white {
  background-color: white;
  border: 1px solid white;
}